.DS_Store
253hw1.aux
253hw1.fdb_latexmk
253hw1.fls
253hw1.log
253hw1.out
253hw1.pdf
253hw1.synctex.gz
253hw1.tex
253hw1.toc
253ipynb.ipynb
CMSC253_hw2.pdf
CMSC253_hw3.pdf
HW3.ipynb
Lecture 2 Matrices and Vectors.ipynb
Lecture 3 -- Matrix rank, inverses, and least squares.ipynb
Lecture 4 -- Least Squares Classification.ipynb
Lecture 4 -- Pos Def _ Convexity.ipynb
Lecture 6 -- Gram Schmidt.ipynb
Lecture 7 -- SVD Basis.ipynb
Lecture 8 -- The SVD.ipynb
Lecture_5_Subspace_projections.ipynb
face_emotion_data.npz
fisheriris.mat
polydata_2D.npz
cmsc253_hw1.py

